{#
 *  Copyright (C) 2017 X Gemeente
 *                     X Amsterdam
 *                     X Onderzoek, Informatie en Statistiek
 *
 *  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/.
#}
{% extends "DashboardBundle:master:default.html.twig" %}

{% block title %}Inlog overzicht {{ account.naam }} - {{ parent() }}{% endblock %}

{% block document %}
    <div class="row">
        <div class="col-xs-12">

            <h1>Inlogoverzicht {{ account.naam }}</h1>

<div class="btn-toolbar" role="toolbar" aria-label="...">
    <div class="btn-group" role="group">
        <a href="{{ path('gemeenteamsterdam_makkelijkemarkt_dashboard_account_index') }}" class="btn btn-default">Terug naar overzicht</a>
    </div>
    <div class="btn-group" role="group">
        <a href="{{ path('gemeenteamsterdam_makkelijkemarkt_dashboard_account_edit', {'id': account.id}) }}" class="btn btn-info">Bewerken</a>
        <a href="{{ path('gemeenteamsterdam_makkelijkemarkt_dashboard_account_showtokens', {'id': account.id}) }}" class="btn btn-primary">Inlogoverzicht</a>
    </div>
</div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Sessie code</th>
                            <th>Ingelogd</th>
                            <th>Programma</th>
                            <th>Versie</th>
                            <th>Device UUID (voor app)</th>
                        </tr>
                    </thead>
                    <tbody>
{% for token in tokens.results %}
                        <tr>
                            <td>{{ token.uuid }}</td>
                            <td>{{ token.creationDate|date('d-m-Y H:i:s') }}</td>
                            <td>{{ token.clientApp }}</td>
                            <td>{{ token.clientVersion }}</td>
                            <td>{{ token.deviceUuid }}</td>
                        </tr>
{% else %}
                        <tr>
                            <td colspan="6">Geen gegevens gevonden</td>
                        </tr>
{% endfor %}
                    </tbody>
                </table>
            </div>

<nav>
    <ul class="pager">
{% set basicParameters = {'id': account.id} %}
{% if pageNumber > 0 %}
        <li class="previous"><a href="{{ path('gemeenteamsterdam_makkelijkemarkt_dashboard_account_showtokens', {'page': pageNumber - 1}|merge(basicParameters)) }}"><span aria-hidden="true">&larr;</span> Vorige</a></li>
{% else %}
        <li class="previous disabled"><a href="{{ path('gemeenteamsterdam_makkelijkemarkt_dashboard_account_showtokens', {'page': 0}|merge(basicParameters)) }}"><span aria-hidden="true">&larr;</span> Vorige</a></li>
{% endif %}
        <li>pagina {{ pageNumber + 1 }} van {{ (tokens.fullListLength / pageSize)|round(0, 'ceil') }}</li>
{% if (pageNumber + 1) < ( ((tokens.fullListLength / pageSize)|round(0, 'ceil')) ) %}
        <li class="next"><a href="{{ path('gemeenteamsterdam_makkelijkemarkt_dashboard_account_showtokens', {'page': pageNumber + 1}|merge(basicParameters)) }}"><span aria-hidden="true">&rarr;</span> Volgende</a></li>
{% else %}
        <li class="next disabled"><a href="{{ path('gemeenteamsterdam_makkelijkemarkt_dashboard_account_showtokens', {'page': pageNumber}|merge(basicParameters)) }}"><span aria-hidden="true">&rarr;</span> Volgende</a></li>
{% endif %}
    </ul>
</nav>

        </div>
    </div>
{% endblock %}