{#
 *  Copyright (C) 2017 X Gemeente
 *                     X Amsterdam
 *                     X Onderzoek, Informatie en Statistiek
 *
 *  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/.
#}
{% extends "DashboardBundle:master:default.html.twig" %}

{% block title %}{{ koopman.voorletters }} {{ koopman.tussenvoegsels }}{{ koopman.tussenvoegsels ? ' ' }}{{ koopman.achternaam }} - Koopman controle - {{ parent() }}{% endblock %}

{% block scripts %}
    <script src="{{ asset('bundles/dashboard/rome/rome.min.js') }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('[name="startdatum"]').attr('init-value', jQuery('[name="startdatum"]').val());
            jQuery('[name="einddatum"]').attr('init-value', jQuery('[name="einddatum"]').val());


            rome(jQuery('[name="startdatum"]').get(0), {
                'time': false,
                'weekStart': 1,
                'inputFormat': 'DD-MM-YYYY',
            });
            rome(jQuery('[name="einddatum"]').get(0), {
                'time': false,
                'weekStart': 1,
                'inputFormat': 'DD-MM-YYYY',
            });
        });
    </script>
{% endblock %}

{% block css %}
    <link href="{{ asset('bundles/dashboard/rome/rome.min.css') }}" rel="stylesheet" media="screen">
{% endblock %}

{% block document %}
    <div class="row">
        <div class="col-xs-12">
            <h1><img src="{{ koopman.fotoUrl }}" alt=""
                     width="50"> {{ koopman.voorletters }} {{ koopman.tussenvoegsels }}{{ koopman.tussenvoegsels ? ' ' }}{{ koopman.achternaam }}
            </h1>
            <div class="row">
                <div class="col-xs-3">
                    <strong>Erkenningsnummer</strong> {{ koopman.erkenningsnummer }}<br>
                    <strong>Status</strong>
                    {% if koopman.status == 'Actief' %}
                        <span class="label label-success">Actief</span>
                    {% elseif koopman.status == 'Vervanger' %}
                        <span class="label label-warning">Vervanger</span>
                    {% else %}
                        <span class="label label-danger">Doorgehaald</span>
                    {% endif %}
                    {% if koopman.handhavingsVerzoek is not null and vandaag <= koopman.handhavingsVerzoek %}
                        <span class="label label-warning">Handhavingsverzoek</span>
                    {% endif %}
                </div>
                <div class="col-xs-3">
                    <strong>Voorletters</strong> {{ koopman.voorletters }}<br>
                    {% if koopman.tussenvoegsels %}<strong>Tussenvoegsels</strong> {{ koopman.tussenvoegsels }}
                        <br>{% endif %}
                    <strong>Achternaam</strong> {{ koopman.achternaam }}<br>
                </div>
                <div class="col-xs-3">
                    <strong>E-mail</strong> {{ koopman.email is not empty ? koopman.email : 'onbekend' }}<br>
                    <strong>Telefoon</strong> {{ koopman.telefoon is not empty ? koopman.telefoon : 'onbekend' }}
                </div>
                <div class="col-xs-3">
                    <strong>PerfectView nummer</strong> {{ koopman.perfectViewNummer }}<br>
                    <strong>Pasnummer</strong> {{ koopman.pasUid }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1>Controles</h1>
        </div>
        <form class="form-inline" method="GET"
              action="{{ path('gemeenteamsterdam_makkelijkemarkt_dashboard_koopman_controle', {'id': koopman.id}) }}">
            <div class="form-group" style="width: 400px">
                <div class="input-group">
                    <input type="text" class="form-control" name="startdatum" value="{{ startdatum|date('d-m-Y') }}">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-resize-horizontal"></span></span>
                    <input type="text" class="form-control" name="einddatum" value="{{ einddatum|date('d-m-Y') }}">
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary form-control">Tonen</button>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Markt</th>
                    <th>Dag</th>
                    <th>Dagvergunning</th>
                    <th>1e controle</th>
                    <th>2e controle</th>
                    <th>Selectiemethode</th>
                </tr>
                </thead>
                <tbody>
                {% for vergunning in vergunningen %}
                    <tr>
                        <td>{{ vergunning.markt.naam }}</td>
                        <td>{{ vergunning.dag|date('d-m-Y') }}</td>
                        <td>
                            <span class="glyphicon glyphicon-{% if 'vervanger_zonder_toestemming' == vergunning.aanwezig %}remove-sign text-red{% else %}ok-sign text-green{% endif %}"></span>
                            <strong>{{ vergunning.aanwezig|replace('_', ' ')|capitalize }}</strong><br/>
                            {% if vergunning.vervanger is defined and vergunning.vervanger is not empty %}
                                Gescand:
                                <a href="{{ path('gemeenteamsterdam_makkelijkemarkt_dashboard_koopman_detail', {'id': vergunning.vervanger.id}) }}">{{ vergunning.vervanger.voorletters }} {{ vergunning.vervanger.achternaam }}</a>
                                <br/>
                                Erkenningsnr.: {{ vergunning.vervanger.erkenningsnummer }}<br/>
                            {% endif %}
                            {% if methodes[vergunning.erkenningsnummerInvoerMethode] is defined %}
                                <span class="label {% if 'handmatig' != vergunning.erkenningsnummerInvoerMethode %}label-default{% else %}label-danger{% endif %}">{{ methodes[vergunning.erkenningsnummerInvoerMethode]|default('...') }}</span>
                            {% endif %}
                            {{ vergunning.registratieDatumtijd|date('H:i:s') }}<br/>
                            Door: {{ vergunning.registratieAccount.naam }}
                            {% if vergunning.notitie is not empty %}
                                <br/>
                                <span class="glyphicon glyphicon-comment"></span> {{ vergunning.notitie }}
                            {% endif %}
                        </td>
                        {% if vergunning.controles %}
                            <td>
                                {% set selectedControle = null %}
                                {% for controle in vergunning.controles %}
                                    {% if '1' == controle.ronde %}
                                        {% set selectedControle = controle %}
                                    {% endif %}
                                {% endfor %}
                                {% if selectedControle is not null %}
                                    <span class="glyphicon glyphicon-{% if 'vervanger_zonder_toestemming' == selectedControle.aanwezig %}remove-sign text-red{% else %}ok-sign text-green{% endif %}"></span>
                                    <strong>{{ selectedControle.aanwezig|replace('_', ' ')|capitalize }}</strong><br/>
                                    {% if selectedControle.vervanger is defined and selectedControle.vervanger is not empty %}
                                        Gescand:
                                        <a href="{{ path('gemeenteamsterdam_makkelijkemarkt_dashboard_koopman_detail', {'id': selectedControle.vervanger.id}) }}">{{ selectedControle.vervanger.voorletters }} {{ selectedControle.vervanger.achternaam }}</a>
                                        <br/>
                                        Erkenningsnr.: {{ selectedControle.vervanger.erkenningsnummer }}<br/>
                                    {% endif %}
                                    {% if methodes[selectedControle.erkenningsnummerInvoerMethode] is defined %}
                                        <span class="label {% if 'handmatig' != selectedControle.erkenningsnummerInvoerMethode %}label-default{% else %}label-danger{% endif %}">{{ methodes[selectedControle.erkenningsnummerInvoerMethode]|default('...') }}</span>
                                    {% endif %}
                                    {{ selectedControle.registratieDatumtijd|date('H:i:s') }}<br/>
                                    Door: {{ selectedControle.registratieAccount.naam }}
                                    {% if selectedControle.notitie is not empty %}
                                        <br/>
                                        <span class="glyphicon glyphicon-comment"></span> {{ selectedControle.notitie }}
                                    {% endif %}
                                {% else %}
                                    1e ronde niet gecontroleerd
                                {% endif %}
                            </td>
                            <td>
                                {% set selectedControle = null %}
                                {% for controle in vergunning.controles %}
                                    {% if '2' == controle.ronde %}
                                        {% set selectedControle = controle %}
                                    {% endif %}
                                {% endfor %}
                                {% if selectedControle is not null %}
                                    <span class="glyphicon glyphicon-{% if 'vervanger_zonder_toestemming' == selectedControle.aanwezig %}remove-sign text-red{% else %}ok-sign text-green{% endif %}"></span>
                                    <strong>{{ selectedControle.aanwezig|replace('_', ' ')|capitalize }}</strong><br/>
                                    {% if selectedControle.vervanger is defined and selectedControle.vervanger is not empty %}
                                        Gescand:
                                        <a href="{{ path('gemeenteamsterdam_makkelijkemarkt_dashboard_koopman_detail', {'id': selectedControle.vervanger.id}) }}">{{ selectedControle.vervanger.voorletters }} {{ selectedControle.vervanger.achternaam }}</a>
                                        <br/>
                                        Erkenningsnr.: {{ selectedControle.vervanger.erkenningsnummer }}<br/>
                                    {% endif %}
                                    {% if methodes[selectedControle.erkenningsnummerInvoerMethode] is defined %}
                                        <span class="label {% if 'handmatig' != selectedControle.erkenningsnummerInvoerMethode %}label-default{% else %}label-danger{% endif %}">{{ methodes[selectedControle.erkenningsnummerInvoerMethode]|default('...') }}</span>
                                    {% endif %}
                                    {{ selectedControle.registratieDatumtijd|date('H:i:s') }}<br/>
                                    Door: {{ selectedControle.registratieAccount.naam }}
                                    {% if selectedControle.notitie is not empty %}
                                        <br/>
                                        <span class="glyphicon glyphicon-comment"></span> {{ selectedControle.notitie }}
                                    {% endif %}
                                {% else %}
                                    2e ronde niet gecontroleerd
                                {% endif %}
                            </td>
                            <td>
                                Methode: {{ vergunning.auditReason }}<br/>
                                {% if vergunning.loten %}Aantal loten: {{ vergunning.loten }}{% endif %}
                            </td>
                        {% else %}
                            <td colspan="3"
                                style="vertical-align: middle">{{ vergunning.audit ? 'Niet gecontroleerd' : '-' }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}