{#
 *  Copyright (C) 2021 X Gemeente
 *                     X Amsterdam
 *                     X Onderzoek, Informatie en Statistiek
 *
 *  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/.
#}

{% extends 'base.html.twig' %}

{% set statusLabelClass = {'?': 'danger', 'soll': 'success', 'vpl': 'primary', 'vkk': 'info', 'tvpl': 'info', 'tvplz': 'info', 'exp': 'info', 'expf': 'info', 'lot': 'warning', 'eb': 'info'} %}

{% set activeTab = app.request.query.get('tab', 'sollicitaties') %}

{% block title %}{{ koopman.voorletters }} {{ koopman.tussenvoegsels }}{{ koopman.tussenvoegsels ? ' ' }}{{ koopman.achternaam }} - Koopman detail - {{ parent() }}{% endblock %}

{% block css %}
        {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block javascript %}
        {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block document %}

    <h1>
    <img src="{{ koopman.fotoUrl }}" alt="" width="50"> {{ koopman.voorletters }} {{ koopman.tussenvoegsels }}{{ koopman.tussenvoegsels ? ' ' }}{{ koopman.achternaam }}
    </h1>
    <div class="container">
    <div class="row">
        <div class="col-sm-7 col-md-3">
            <strong>Erkenningsnummer:</strong> {{ koopman.erkenningsnummer }}<br>
            <strong>Status:</strong>
            {% if koopman.status == 'Actief' %}
                <span class="badge badge-success">Actief</span>
            {% elseif koopman.status == 'Vervanger' %}
                <span class="badge badge-warning">Vervanger:</span>
            {% else %}
                <span class="badge badge-danger">Doorgehaald</span>
            {% endif %}
            {% if koopman.handhavingsVerzoek is not null and vandaag <= koopman.handhavingsVerzoek %}
                <span class="badge badge-warning">Handhavingsverzoek: {{ koopman.handhavingsVerzoek|date('d-m-Y') }}</span>
            {% endif %}
            <br>
            <br>
        </div>

        <div class="col-sm-5 col-md-3">
            <strong>Voorletters:</strong> {{ koopman.voorletters }}<br>
            {% if koopman.tussenvoegsels %}<strong>Tussenvoegsels</strong> {{ koopman.tussenvoegsels }}
                <br>{% endif %}
            <strong>Achternaam:</strong> {{ koopman.achternaam }}
            <br>
            <br>
        </div>

            <div class="col-sm-7 col-md-3">
                <strong>E-mail:</strong> {{ koopman.email is not empty ? koopman.email : 'onbekend' }}<br>
                <strong>Telefoon:</strong> {{ koopman.telefoon is not empty ? koopman.telefoon : 'onbekend' }}
                <br>
                <br>
        </div>

        <div class="col-sm-5 col-md-3">
            <strong>PerfectView nummer:</strong> {{ koopman.perfectViewNummer }}<br>
            <strong>Pasnummer:</strong> {{ koopman.pasUid }}
            <br>
            <br>
        </div>
    </div>

    <br>

    <nav class="nav nav-pills flex-column flex-sm-row bg-light">
        <a class="flex-sm-fill text-sm-center nav-link {{ activeTab == 'sollicitaties' ? 'active' }}" href="#sollicitaties"  aria-controls="sollicitaties" data-toggle="tab">Markten</a>
        <a class="flex-sm-fill text-sm-center nav-link {{ activeTab == 'vervangers' ? 'active' }}" href="#vervangers"  aria-controls="vervangers" data-toggle="tab">Vervangers</a>
        <a class="flex-sm-fill text-sm-center nav-link {{ activeTab == 'dagvergunningen' ? 'active' }}" href="#dagvergunningen"  aria-controls="dagvergunningen" data-toggle="tab">Dagvergunninngen</a>
        <a class="flex-sm-fill text-sm-center nav-link {{ activeTab == 'facturen' ? 'active' }}" href="#facturen"  aria-controls="facturen" data-toggle="tab">Facturen</a>
         <a class="flex-sm-fill text-sm-center nav-link {{ activeTab == 'instellingen' ? 'active' }}" href="#instellingen" aria-controls="instellingen"  data-toggle="tab">Instellingen</a>
    </nav>

    <br>


    <div class="tab-content">
        <div role="tabpanel" class="tab-pane {{ activeTab == 'sollicitaties' ? 'active' }}" id="sollicitaties">
            <table class="table">
                <thead>
                <tr>
                    <th>Markt</th>
                    <th>Sollicitatienummer</th>
                    <th>Kramen</th>
                    <th>Extra</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for sollicitatie in koopman.sollicitaties %}
                    <tr>
                        <td>{{ sollicitatie.markt.naam }}</td>
                        <td>
                            <abbr title="Koppelveld: {{ sollicitatie.koppelveld }}">{{ sollicitatie.sollicitatieNummer }}</abbr>
                            <span class="badge badge-{{ attribute(statusLabelClass, sollicitatie.status) }}">{{ sollicitatie.status }}</span>
                        </td>
                        <td>
                            {% if sollicitatie.aantal3MeterKramen > 0 %}{{ sollicitatie.aantal3MeterKramen }} x 3m
                                <br>{% endif %}
                            {% if sollicitatie.aantal4MeterKramen > 0 %}{{ sollicitatie.aantal4MeterKramen }} x 4m
                                <br>{% endif %}
                            {% if sollicitatie.aantalExtraMeters > 0 %}{{ sollicitatie.aantalExtraMeters }} x 1m{% endif %}
                        </td>
                        <td>
                            {% if sollicitatie.aantalElektra > 0 %}Elektra: {{ sollicitatie.aantalElektra }}x
                                <br>{% endif %}
                            Krachtstroom: {{ sollicitatie.krachtstroom ? 'ja' : 'nee' }}
                        </td>
                        <td>
                            {% if sollicitatie.vastePlaatsen is not empty and sollicitatie.vastePlaatsen|length > 0 %}
                                Vaste plaatsen: {{ sollicitatie.vastePlaatsen|join(', ') }}
                            {% endif %}
                            {% if sollicitatie.doorgehaald == true %}
                                <span class="badge badge-danger">Doorgehaald</span>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">Geen sollicitaties</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane {{ activeTab == 'vervangers' ? 'active' }}" id="vervangers">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Vervanger</th>
                        <th>Erkenningsnummer</th>
                        <th>Vervangingspasnummer</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for vervanger in koopman.vervangers %}
                        <tr>
                            <td>
                                <a href="{{ path('app_koopman_detail', {'id': vervanger.vervanger_id}) }}">{{ vervanger.voorletters }} {{ vervanger.tussenvoegsels }}{{ vervanger.tussenvoegsels ? ' ' }}{{ vervanger.achternaam }}</a>
                            </td>
                            <td>{{ vervanger.erkenningsnummer }}</td>
                            <td>{{ vervanger.pas_uid }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>





        <div role="tabpanel" class="tab-pane {{ activeTab == 'dagvergunningen' ? 'active' }}"
                id="dagvergunningen">

            <div class="row">
                <div class="col-xs-12">
                    <form class="form-inline" method="GET"
                            action="{{ path('app_koopman_detail', {'id': koopman.id}) }}">
                        <input type="hidden" name="tab" value="dagvergunningen">
                        <div class="form-group">
                            <div class="btn-group">
                            </div>
                        </div>
                        <br>
                </div>
            </div>

            <form>
                <div class="form-row">

                    <div class="col-sm-6 col-lg-3">
                        <input type="text" class="form-control date-pricker" placeholder="Eind" name="dagvergunningenStartDatum" value="{{ dagvergunningenStartDatum|date('d-m-Y') }}">
                        <br>
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <input type="text" class="form-control date-pricker" placeholder="Start" name="dagvergunningenEindDatum" value="{{ dagvergunningenEindDatum|date('d-m-Y') }}">
                        <br>
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <button class="btn btn-secondary dropdown-toggle form-control" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                            <i class="bi bi-funnel-fill"></i>
                                {% if markt is empty %}
                                    (alle markten)
                                {% else %}
                                    {{ markt.naam }}
                                {% endif %}
                            <span class="caret"></span>
                        </button>
                        <br>

                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="{{ path('app_koopman_detail', {'id': koopman.id, 'dagvergunningenStartDatum': dagvergunningenStartDatum|date('d-m-Y'), 'dagvergunningenEindDatum': dagvergunningenEindDatum|date('d-m-Y'), 'tab': 'dagvergunningen'}) }}">(alle
                                    markten)</a></li>
                            {% for markt in markten %}
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_koopman_detail', {'id': koopman.id, 'marktId': markt.id, 'dagvergunningenStartDatum': dagvergunningenStartDatum|date('d-m-Y'), 'dagvergunningenEindDatum': dagvergunningenEindDatum|date('d-m-Y'), 'tab': 'dagvergunningen'}) }}">{{ markt.naam }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <br>
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        {% if markt is defined and markt is not empty %}
                            <input type="hidden" name="marktId" value="{{ markt.id }}">
                        {% endif %}
                            <button type="submit" class="btn btn-primary form-control">Tonen</button>
                            <br>
                    </div>
                </div>
            </form>




<br>



    <div class="row">
        <div class="col-sm-7 col-md-3">
            <h4>Vergunningen</h4>
            <p>
                Vaste plaats houders <span
                        class="badge badge-primary">{{ attribute(stats, 'status.vpl') }}</span><br>
                Voorkeurskaart houders <span
                        class="badge badge-info">{{ attribute(stats, 'status.vkk') }}</span><br>
                TVPL houders <span
                        class="badge badge-info">{{ attribute(stats, 'status.tvpl') }}</span><br>
                TVPLZ houders <span
                        class="badge badge-info">{{ attribute(stats, 'status.tvplz') }}</span><br>
                EXP houders <span
                        class="badge badge-info">{{ attribute(stats, 'status.exp') }}</span><br>
                EXPF houders <span
                        class="badge badge-info">{{ attribute(stats, 'status.expf') }}</span><br>
                Sollicitanten <span
                        class="badge badge-success">{{ attribute(stats, 'status.soll') }}</span><br>
                Standwerker / overig <span
                        class="badge badge-warning">{{ attribute(stats, 'status.lot') }}</span><br>
            {% if attribute(stats, 'status.?') > 0 %}<p>ONBEKEND <span
                        class="badge badge-danger">{{ attribute(stats, 'status.?') }}</span>{% endif %}
            </p>
            <p>
                Totaal actief <span
                        class="badge badge-default">{{ attribute(stats, 'total') }}</span><br>
                {% if attribute(stats, 'doorgehaald') > 0 %}Verwijderd <span
                        class="badge badge-danger">{{ attribute(stats, 'doorgehaald') }}</span>{% endif %}
            </p>
        </div>

        <div class="col-sm-5 col-md-3">
            <h4>Aanwezigheid</h4>
            <p>
                Zelf aanwezig na controle <strong>{{ attribute(stats, 'aanwezig.zelf_aanw_na_controle') }}</strong><br>
                Niet zelf aanwezig na controle <strong>{{ attribute(stats, 'aanwezig.niet_zelf_aanw_na_controle') }}</strong><br>

            </p>
        </div>

        <div class="col-sm-7 col-md-3">
            <h4>Kramen</h4>
            <p>
                {% set drieM = attribute(stats, 'meters.aantal_3m') %}
                {% set vierM = attribute(stats, 'meters.aantal_4m') %}
                {% set totaalM = drieM + vierM %}
                Aantal 3m kramen <strong>{{ drieM }} x</strong><br>
                Aantal 4m kramen <strong>{{ vierM }} x</strong><br>
                Totaal aantal kramen <strong>{{ totaalM }} x</strong><br>
                Aantal extra meters <strong>{{ attribute(stats, 'meters.aantal_1m') }} x</strong>
            </p>
            <p>
                Totaal aantal meter <strong>{{ attribute(stats, 'meters.totaal') }} m</strong>
            </p>
        </div>

        <div class="col-sm-5 col-md-3">
            <h4>Extra's</h4>
            <p>
                Dagvergunningen met elektra
                <strong>{{ attribute(stats, 'extra.elektra_afgenomen') }}</strong><br>
                Totaal elektra aansluitingen
                <strong>{{ attribute(stats, 'extra.elektra_totaal') }}</strong><br>
                Dagvergunningen met krachtstroom
                <strong>{{ attribute(stats, 'extra.krachtstroom') }}</strong><br>
                Dagvergunningen met reiniging <strong>{{ attribute(stats, 'extra.reiniging') }}</strong><br /><br />
                <a href="{{ path('app_koopman_controle', {'id': koopman.id}) }}">Controles</a>
            </p>
        </div>
    </div>
    <br>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Markt</th>
                        <th>&nbsp;</th>
                        <th>Kramen</th>
                        <th>Extra</th>
                        <th>Producten</th>
                        <th>Invoer</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for dagvergunning in dagvergunningen %}
                        <tr>
                            <td>
                                <strong>{{ dagvergunning.markt.naam }}</strong>
                            </td>
                            <td>
                                <strong>{{ dagvergunning.aanwezig|replace({'_': ' '}) }}</strong>
                                {% if dagvergunning.vervanger is defined and dagvergunning.vervanger is not empty %}
                                    <br>
                                    Gescand:
                                    <a href="{{ path('app_koopman_detail', {'id': dagvergunning.vervanger.id}) }}">{{ dagvergunning.vervanger.voorletters }} {{ dagvergunning.vervanger.achternaam }}</a>
                                    <br>
                                    Erkenningsnumer: {{ dagvergunning.vervanger.erkenningsnummer }}
                                {% endif %}
                                {% if dagvergunning.controles is defined %}
                                    <br/><span style="font-style: italic;">Controles:</span>
                                    {% for controle in dagvergunning.controles %}
                                        <br/>
                                        <strong>{{ controle.aanwezig|replace({'_': ' '}) }}</strong> - {{ controle.registratieDatumtijd|date('H:i:s') }}
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td>
                                {% if dagvergunning.aantal3MeterKramen > 0 %}{{ dagvergunning.aantal3MeterKramen }} x 3 meter
                                    <br>{% endif %}
                                {% if dagvergunning.aantal4MeterKramen > 0 %}{{ dagvergunning.aantal4MeterKramen }} x 4 meter
                                    <br>{% endif %}
                                {% if dagvergunning.extraMeters > 0 %}{{ dagvergunning.extraMeters }} x extra meter
                                    <br>{% endif %}
                                &nbsp;<br>
                                totaal {{ dagvergunning.totaleLengte }} meter
                            </td>
                            <td>
                                {% if dagvergunning.aantalElektra > 0 %}Elektra:
                                    <br>{{ dagvergunning.aantalElektra }}<br>{% endif %}
                                Krachtstroom:<br>{{ dagvergunning.krachtstroom ? 'ja' : 'nee' }}<br>
                                Reiniging:<br>{{ dagvergunning.reiniging ? 'ja' : 'nee' }}
                            </td>
                            <td>
                                {% if dagvergunning.factuur is not null %}
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>&sigma;</th>
                                            <th>BTW</th>
                                            <th>%</th>
                                            <th>Ex</th>
                                            <th>#</th>
                                            <th>&euro;</th>
                                            <th>Product</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for product in dagvergunning.factuur.producten %}
                                            <tr>
                                                <td>&euro;{{ product.totaal_inclusief }}</td>
                                                <td>&euro;{{ product.btw_totaal }}</td>
                                                <td>{{ product.btw_percentage }}%</td>
                                                <td>&euro;{{ product.totaal }}</td>
                                                <td>{{ product.aantal }}</td>
                                                <td>&euro;{{ product.bedrag }}</td>
                                                <td>{{ product.naam }}</td>
                                            </tr>
                                        {% endfor %}
                                        <tr>
                                            <td>&euro;{{ dagvergunning.factuur.totaal }}</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>Totaal</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                {% endif %}
                            </td>
                            <td>
                                {{ dagvergunning.registratieDatumtijd }}<br>
                                {% if dagvergunning.registratieAccount is not empty %}door: {{ dagvergunning.registratieAccount.naam }}
                                    <br>{% endif %}
                                {% if dagvergunning.doorgehaald %}
                                    <span class="badge badge-danger">Verwijderd</span>
                                    {{ dagvergunning.doorgehaaldDatumtijd }}
                                    {% if dagvergunning.doorgehaaldAccount is not empty %}door {{ dagvergunning.doorgehaaldAccount.naam }}{% endif %}
                                    <br>
                                {% endif %}
                                via:
                                {{ dagvergunning.erkenningsnummerInvoerMethode }}<br>
                                {% if dagvergunning.notitie is not empty %}
                                    <i class="bi bi-chat-left-fill"></i></span> {{ dagvergunning.notitie }}
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">Geen dagvergunningen uitgegeven voor {{ koopman.achternaam }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane {{ activeTab == 'facturen' ? 'active' }}" id="facturen">
            <h3>Laatste kwartaal</h3>
            <a href="{{ path('app_koopman_factuuroverzicht', {'id': koopman.id, 'startDate': startDate|date('d-m-Y'), 'endDate': endDate|date('d-m-Y')}) }}"
                target="_blank" class="btn btn-primary">Factuur overzicht laatste kwartaal</a>
            <h3>Laatste maanden</h3>
            {% for maand in laatsteMaanden %}
                <a href="{{ path('app_koopman_factuuroverzicht', {'id': koopman.id, 'startDate': maand.start|date('d-m-Y'), 'endDate': maand.eind|date('d-m-Y')}) }}"
                    title="{{ maand.start|date('d-m-Y') ~ ' t/m ' ~ maand.eind|date('d-m-Y') }}" target="_blank"
                    class="btn btn-primary">Factuur overzicht {{ maand.label }}</a>
            {% endfor %}

            <h3 class="mt-2">Aangepaste datum reeks</h3>
            {{ form_start(form, { 'attr': {'class': 'form-inline'} }) }}
                <div class="form-group">
                     {{ form_row(form.beginDatum, { 'attr': {'class': 'form-control date-pricker mr-2'} }) }}
                </div>
                <div class="form-group">
                     {{ form_row(form.eindDatum, { 'attr': {'class': 'form-control date-pricker mr-2'} }) }}
                </div>
                 {{ form_row(form.download, { 'attr': {'class': 'btn btn-primary'} }) }}
            {{ form_end(form) }}

        </div>
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SENIOR') %}

            <div role="tabpanel" class="tab-pane {{ activeTab == 'instellingen' ? 'active' }}"
                    id="instellingen">
                <h3>Instellingen</h3>
                <form class="form-inline" method="POST"
                        action="{{ path('app_koopman_togglehandhavingsverzoek', {'id': koopman.id}) }}">
                    <h4>Einddatum handhavingsverzoek:</h4>
                    <div class="form-group">
                        <input type="text" class="form-control date-pricker" id="handhavingDatum" name="handhavingDatum"
                                placeholder="Einddatum handhaving" data-value="{{ koopman.handhavingsVerzoek|date('d-m-Y') }}" value="{{ koopman.handhavingsVerzoek|date('d-m-Y') }}">
            </div>
                    <input type="submit" class="btn btn-primary" value="Opslaan"/>
                </form>
            </div>

        {% endif %}
    </div>
  </div>
{% endblock %}