{#
 *  Copyright (C) 2021 X Gemeente
 *                     X Amsterdam
 *                     X Onderzoek, Informatie en Statistiek
 *
 *  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/.
#}
{% extends "base.html.twig" %}

{% block title %} - Capaciteitsrapport - {% endblock %}

{% block css %}
        {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block javascript %}
        {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block document %}

            {{ form_start(form) }}
                <div class="row">
                    <div class="form-group col-sm-5">
                        <label for="markt">Markt</label>
                        {{ form_widget(form.marktId) }}
                        <small>Selecteer meerdere markten door Ctrl ingedrukt te houden bij het selecteren</small>
                    </div>
                    <div class="form-group col-sm-2">
                        <label for="periodeVan">Start datum</label>
                        {{ form_widget(form.dagStart, {'attr': {'class': 'date-pricker'}}) }}
                    </div>
                    <div class="form-group col-sm-2">
                        <label for="periodeVan">Eind datum</label>
                        {{ form_widget(form.dagEind, {'attr': {'class': 'date-pricker'}}) }}
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Bekijken</button>
                {{ form_widget(form.excel, {'attr': {'class': 'btn-info btn'}}) }}
            {{ form_end(form) }}

            <br>


            <div class="table-responsive">
                <table class="table table-bordered main-table">
                    <thead>
                    <p>
                        Toon details:
                        <label><input type="checkbox" name="columns[vpl]" value="vpl" checked> VPL</label>
                        <label><input type="checkbox" name="columns[tvpl]" value="tvpl" checked> TVPL</label>
                        <label><input type="checkbox" name="columns[tvplz]" value="tvplz" checked> TVPLZ</label>
                        <label><input type="checkbox" name="columns[eb]" value="eb" checked> EB</label>
                        <label><input type="checkbox" name="columns[exp]" value="exp" checked> EXP</label>
                        <label><input type="checkbox" name="columns[expf]" value="expf" checked> EXPF</label>
                        <label><input type="checkbox" name="columns[soll]" value="soll" checked> SOLL</label>
                        <label><input type="checkbox" name="columns[lot]" value="lot" checked> LOT</label>
                    </p>
                    <tr>
                            <th rowspan="2">Dag</th>
                            <th rowspan="2">Datum</th>
                            <th rowspan="2">Week</th>
                            <th rowspan="2">Maand</th>
                            <th rowspan="2">Jaar</th>
                            <th rowspan="2">Markt</th>
                            <th rowspan="2">Max.<br>kramen</th>
                            <th rowspan="2">Max.<br>meter</th>
                            <th class="data-vpl" colspan="2">VPL<br>Dagv.</th>
                            <th class="data-vpl" colspan="2">VPL<br>Kramen</th>
                            <th class="data-vpl" colspan="2">VPL<br>Meters</th>
                            <th class="data-tvpl" colspan="2">TVPL<br>Dagv.</th>
                            <th class="data-tvpl" colspan="2">TVPL<br>Kramen</th>
                            <th class="data-tvpl" colspan="2">TVPL<br>Meters</th>
                            <th class="data-tvplz" colspan="2">TVPLZ<br>Dagv.</th>
                            <th class="data-tvplz" colspan="2">TVPLZ<br>Kramen</th>
                            <th class="data-tvplz" colspan="2">TVPLZ<br>Meters</th>
                            <th class="data-vpl" colspan="2">EB<br>Dagv.</th>
                            <th class="data-vpl" colspan="2">EB<br>Kramen</th>
                            <th class="data-vpl" colspan="2">EB<br>Meters</th>
                            <th class="data-exp" colspan="2">EXP<br>Dagv.</th>
                            <th class="data-exp" colspan="2">EXP<br>Kramen</th>
                            <th class="data-exp" colspan="2">EXP<br>Meters</th>
                            <th class="data-expf" colspan="2">EXPF<br>Dagv.</th>
                            <th class="data-expf" colspan="2">EXPF<br>Kramen</th>
                            <th class="data-expf" colspan="2">EXPF<br>Meters</th>
                            <th class="data-soll" colspan="2">SOLL<br>Dagv.</th>
                            <th class="data-soll" colspan="2">SOLL<br>Kramen</th>
                            <th class="data-soll" colspan="2">SOLL<br>Meters</th>
                            <th class="data-lot" colspan="2">LOT<br>Dagv.</th>
                            <th class="data-lot" colspan="2">LOT<br>Kramen</th>
                            <th class="data-lot" colspan="2">LOT<br>Meters</th>
                            <th colspan="1">Totaal<br>Dagv.</th>
                            <th colspan="2">Totaal<br>Kramen</th>
                            <th colspan="2">Totaal<br>Meters</th>
                        </tr>
                        <tr>
                            <th class="data-vpl">#</th>
                            <th class="data-vpl">%</th>
                            <th class="data-vpl">#</th>
                            <th class="data-vpl">%</th>
                            <th class="data-vpl">#</th>
                            <th class="data-vpl">%</th>
                            <th class="data-tvpl">#</th>
                            <th class="data-tvpl">%</th>
                            <th class="data-tvpl">#</th>
                            <th class="data-tvpl">%</th>
                            <th class="data-tvpl">#</th>
                            <th class="data-tvpl">%</th>
                            <th class="data-tvplz">#</th>
                            <th class="data-tvplz">%</th>
                            <th class="data-tvplz">#</th>
                            <th class="data-tvplz">%</th>
                            <th class="data-tvplz">#</th>
                            <th class="data-tvplz">%</th>
                            <th class="data-eb">#</th>
                            <th class="data-eb">%</th>
                            <th class="data-eb">#</th>
                            <th class="data-eb">%</th>
                            <th class="data-eb">#</th>
                            <th class="data-eb">%</th>
                            <th class="data-exp">#</th>
                            <th class="data-exp">%</th>
                            <th class="data-exp">#</th>
                            <th class="data-exp">%</th>
                            <th class="data-exp">#</th>
                            <th class="data-exp">%</th>
                            <th class="data-expf">#</th>
                            <th class="data-expf">%</th>
                            <th class="data-expf">#</th>
                            <th class="data-expf">%</th>
                            <th class="data-expf">#</th>
                            <th class="data-expf">%</th>
                            <th class="data-soll">#</th>
                            <th class="data-soll">%</th>
                            <th class="data-soll">#</th>
                            <th class="data-soll">%</th>
                            <th class="data-soll">#</th>
                            <th class="data-soll">%</th>
                            <th class="data-lot">#</th>
                            <th class="data-lot">%</th>
                            <th class="data-lot">#</th>
                            <th class="data-lot">%</th>
                            <th class="data-lot">#</th>
                            <th class="data-lot">%</th>
                            <th>#</th>
                            <th>#</th>
                            <th>%</th>
                            <th>#</th>
                            <th>%</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for row in rapport %}
                        <tr>
                            <td>{{ row.dag }}</td>
                            <td>{{ row.datum }}</td>
                            <td>{{ row.week }}</td>
                            <td>{{ row.maand }}</td>
                            <td>{{ row.jaar }}</td>
                            <td>{{ row.marktNaam }}</td>
                            <td class="text-right">{{ row.capaciteitKramen }}</td>
                            <td class="text-right">{{ row.capaciteitMeter }}</td>

                            <td class="data-vpl text-right">{{ attribute(row, 'vplAantalDagvergunningen') }}</td>
                            <td class="data-vpl text-right">{{ (attribute(row, 'vplAantalDagvergunningen%') * 100)|round(1) }}</td>
                            <td class="data-vpl text-right">{{ attribute(row, 'vplAantalKramen') }}</td>
                            <td class="data-vpl text-right">{{ (attribute(row, 'vplAantalKramen%') * 100)|round(1) }}</td>
                            <td class="data-vpl text-right">{{ attribute(row, 'vplAantalMeter') }}</td>
                            <td class="data-vpl text-right">{{ (attribute(row, 'vplAantalMeter%') * 100)|round(1) }}</td>

                            <td class="data-tvpl text-right">{{ attribute(row, 'tvplAantalDagvergunningen') }}</td>
                            <td class="data-tvpl text-right">{{ (attribute(row, 'tvplAantalDagvergunningen%') * 100)|round(1) }}</td>
                            <td class="data-tvpl text-right">{{ attribute(row, 'tvplAantalKramen') }}</td>
                            <td class="data-tvpl text-right">{{ (attribute(row, 'tvplAantalKramen%') * 100)|round(1) }}</td>
                            <td class="data-tvpl text-right">{{ attribute(row, 'tvplAantalMeter') }}</td>
                            <td class="data-tvpl text-right">{{ (attribute(row, 'tvplAantalMeter%') * 100)|round(1) }}</td>

                            <td class="data-tvplz text-right">{{ attribute(row, 'tvplzAantalDagvergunningen') }}</td>
                            <td class="data-tvplz text-right">{{ (attribute(row, 'tvplzAantalDagvergunningen%') * 100)|round(1) }}</td>
                            <td class="data-tvplz text-right">{{ attribute(row, 'tvplzAantalKramen') }}</td>
                            <td class="data-tvplz text-right">{{ (attribute(row, 'tvplzAantalKramen%') * 100)|round(1) }}</td>
                            <td class="data-tvplz text-right">{{ attribute(row, 'tvplzAantalMeter') }}</td>
                            <td class="data-tvplz text-right">{{ (attribute(row, 'tvplzAantalMeter%') * 100)|round(1) }}</td>

                            <td class="data-vpl text-right">{{ attribute(row, 'ebAantalDagvergunningen') }}</td>
                            <td class="data-vpl text-right">{{ (attribute(row, 'ebAantalDagvergunningen%') * 100)|round(1) }}</td>
                            <td class="data-vpl text-right">{{ attribute(row, 'ebAantalKramen') }}</td>
                            <td class="data-vpl text-right">{{ (attribute(row, 'ebAantalKramen%') * 100)|round(1) }}</td>
                            <td class="data-vpl text-right">{{ attribute(row, 'ebAantalMeter') }}</td>
                            <td class="data-vpl text-right">{{ (attribute(row, 'ebAantalMeter%') * 100)|round(1) }}</td>

                            <td class="data-exp text-right">{{ attribute(row, 'expAantalDagvergunningen') }}</td>
                            <td class="data-exp text-right">{{ (attribute(row, 'expAantalDagvergunningen%') * 100)|round(1) }}</td>
                            <td class="data-exp text-right">{{ attribute(row, 'expAantalKramen') }}</td>
                            <td class="data-exp text-right">{{ (attribute(row, 'expAantalKramen%') * 100)|round(1) }}</td>
                            <td class="data-exp text-right">{{ attribute(row, 'expAantalMeter') }}</td>
                            <td class="data-exp text-right">{{ (attribute(row, 'expAantalMeter%') * 100)|round(1) }}</td>

                            <td class="data-expf text-right">{{ attribute(row, 'expfAantalDagvergunningen') }}</td>
                            <td class="data-expf text-right">{{ (attribute(row, 'expfAantalDagvergunningen%') * 100)|round(1) }}</td>
                            <td class="data-expf text-right">{{ attribute(row, 'expfAantalKramen') }}</td>
                            <td class="data-expf text-right">{{ (attribute(row, 'expfAantalKramen%') * 100)|round(1) }}</td>
                            <td class="data-expf text-right">{{ attribute(row, 'expfAantalMeter') }}</td>
                            <td class="data-expf text-right">{{ (attribute(row, 'expfAantalMeter%') * 100)|round(1) }}</td>

                            <td class="data-soll text-right">{{ attribute(row, 'sollAantalDagvergunningen') }}</td>
                            <td class="data-soll text-right">{{ (attribute(row, 'sollAantalDagvergunningen%') * 100)|round(1) }}</td>
                            <td class="data-soll text-right">{{ attribute(row, 'sollAantalKramen') }}</td>
                            <td class="data-soll text-right">{{ (attribute(row, 'sollAantalKramen%') * 100)|round(1) }}</td>
                            <td class="data-soll text-right">{{ attribute(row, 'sollAantalMeter') }}</td>
                            <td class="data-soll text-right">{{ (attribute(row, 'sollAantalMeter%') * 100)|round(1) }}</td>

                            <td class="data-lot text-right">{{ attribute(row, 'lotAantalDagvergunningen') }}</td>
                            <td class="data-lot text-right">{{ (attribute(row, 'lotAantalDagvergunningen%') * 100)|round(1) }}</td>
                            <td class="data-lot text-right">{{ attribute(row, 'lotAantalKramen') }}</td>
                            <td class="data-lot text-right">{{ (attribute(row, 'lotAantalKramen%') * 100)|round(1) }}</td>
                            <td class="data-lot text-right">{{ attribute(row, 'lotAantalMeter') }}</td>
                            <td class="data-lot text-right">{{ (attribute(row, 'lotAantalMeter%') * 100)|round(1) }}</td>

                            <td class="text-right">{{ attribute(row, 'aantalDagvergunningen') }}</td>
                            <td class="text-right">{{ attribute(row, 'totaalAantalKramen') }}</td>
                            <td class="text-right">{{ (attribute(row, 'totaalAantalKramen%') * 100)|round(1) }}</td>
                            <td class="text-right">{{ attribute(row, 'totaalAantalMeter') }}</td>
                            <td class="text-right">{{ (attribute(row, 'totaalAantalMeter%') * 100)|round(1) }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
{% endblock %}