{#
 *  Copyright (C) 2021 X Gemeente
 *                     X Amsterdam
 *                     X Onderzoek, Informatie en Statistiek
 *
 *  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/.
#}

{% extends "base.html.twig" %}

{% block title %}Frequentie {% endblock %}

{% block css %}
        {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block javascript %}
        {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block document %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Markt</th>
            <th>Type</th>
            <th>Plaatsbezetting</th>
        </tr>
        </thead>
        <tbody>
        {% for markt in markten %}
            <tr>
                <td>{{ markt.naam }}</td>
                <td>{{ markt.soort }}</td>
                {% set url = "" %}
                {% if markt.soort == 'dag' %}{% set url = path('app_rapport_frequentiemarktendag', {'marktId': markt.id}) %}{% endif %}
                {% if markt.soort == 'week' %}{% set url = path('app_rapport_frequentiemarktenweek', {'marktId': markt.id}) %}{% endif %}
                <td><a href="{{ url }}" class="btn btn-primary">VPL/VKK</a>
                    <a href="{{ path('app_rapport_frequentiemarktensoll', {'marktId': markt.id}) }}" class="btn btn-primary">Sollicitanten</a>
                    <a href="{{ path('app_rapport_persoonlijkeaanwezigheid', {'marktId': markt.id}) }}" class="btn btn-primary">Aanwezigheid</a>
                    <a href="{{ path('app_rapport_invoer', {'marktId': markt.id}) }}" class="btn btn-primary">Invoer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}