{#
 *  Copyright (C) 2021 X Gemeente
 *                     X Amsterdam
 *                     X Onderzoek, Informatie en Statistiek
 *
 *  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/.
#}

{% extends "base.html.twig" %}

{% block title %}Rapport: Staanverplichting {% endblock %}

{% block css %}
        {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block javascript %}
        {{ encore_entry_script_tags('app') }}
{% endblock %}
{% set statusLabelClass = {'?': 'danger', 'soll': 'success', 'vpl': 'primary', 'vkk': 'info', 'tvpl': 'info', 'tvplz': 'info', 'exp': 'info', 'expf': 'info', 'lot': 'warning', 'eb': 'primary'} %}

{% block document %}
    <h1>Rapport: Staanverplichting</h1>

    <form method="get" class="row form">
        <div class="form-group  col-lg-3">
            <label for="marktId">Markt(en)</label>
            <select class="form-control" name="marktId[]" id="marktId" multiple>
                {% for markt in markten %}
                    <option value="{{ markt.id }}" {{ markt.id in marktIds ? 'selected' }}>{{ markt.naam }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-lg-2">
            <label for="dagStart">Begin datum</label>
            <input type="text" class="form-control date-pricker" name="dagStart" id="dagStart" value="{{ dagStart|date('d-m-Y') }}" required>
        </div>
        <div class="form-group col-lg-2">
            <label for="dagEind">Eind datum</label>
            <input type="text" class="form-control date-pricker" name="dagEind" id="dagEind" value="{{ dagEind|date('d-m-Y') }}" required>
        </div>
        <div class="form-group col-lg-2">
            <label for="vergunningType">Vergunning type</label>
            <select class="form-control" name="vergunningType">
                {% for key, type in vergunningTypes %}
                    <option value="{{ key }}" {{ key == vergunningType ? 'selected' }}>{{ type }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-lg-3">
            <label>&nbsp;</label>
            <button class="btn btn-primary"  style="display: block;">Rapport</button>
        </div>
    </form>

    {% if rapport is not empty %}
    <h2>Rapport: Staan verplichting {% for markt in selectedMarkten %}{{ markt.naam }}{% if loop.last == false %}, {% endif %}{% endfor %} voor periode {{ dagStart|date('d-m-Y') }} t/m {{ dagEind|date('d-m-Y') }}</h2>
    <p><a class="btn btn-info" href="{{ path('app_rapport_staanverplichting', {'format': 'excel', 'marktId': marktIds, 'dagStart': dagStart|date('d-m-Y'), 'dagEind': dagEind|date('d-m-Y'), 'vergunningType': vergunningType}) }}">Download Excel</a></p>
    <table class="table">
        <thead>
            <tr>
                <th>Markt</th>
                <th>Sollicitatie-<br>nummer</th>
                <th>Status</th>
                <th colspan="3">Koopman</th>
                <th class="text-right">Aantal actieve dagvergunningen in periode</th>
                <th class="text-right">Waarvan zelf aanwezig</th>
                <th class="text-right">Waarvan <abbr title="vervanger met of zonder toestemming, onbekend of niet aanwezig">andere</abbr> aanwezigheid</th>
                <th class="text-right">Percentage aanwezig</th>
                <th class="text-right">Waarvan zelf aanwezig met controle rondes</th>
                <th class="text-right">Waarvan <abbr title="vervanger met of zonder toestemming, onbekend of niet aanwezig">andere</abbr> aanwezigheid met controle rondes</th>
                <th class="text-right">Percentage aanwezig met controle rondes</th>
            </tr>
        </thead>
        <tbody>
            {% for record in rapport.output %}
                <tr>
                    <td>{{ record.sollicitatie.markt.naam }}</td>
                    <td>{{ record.sollicitatie.sollicitatieNummer }}</td>
                    <td><span class="badge badge-{{ attribute(statusLabelClass, record.sollicitatie.status|default('?')) }}">{{ record.sollicitatie.status }}</span></td>
                    <td>{{ record.koopman.erkenningsnummer }}</td>
                    <td>
                        {% if record.koopman is not empty %}
                            <img src="{{ record.koopman.fotoUrl }}" alt="" width="50">
                        {% else %}
                            Onbekend
                        {% endif %}
                    </td>
                    <td>
                        {% if record.koopman is not empty %}
                            {{ record.koopman.voorletters }} {{ record.koopman.tussenvoegsels }}{{ record.koopman.tussenvoegsels ? ' ' }}{{ record.koopman.achternaam }}
                        {% endif %}
                    </td>
                    <td class="text-right">{{ record.aantalActieveDagvergunningen }}</td>
                    <td class="text-right">{{ record.aantalActieveDagvergunningenZelfAanwezig }}</td>
                    <td class="text-right">{{ record.aantalActieveDagvergunningenNietZelfAanwezig }}</td>
                    <td class="text-right">
                        {% if record.aantalActieveDagvergunningen > 0 %}
                            {{ record.percentageAanwezig * 100 }} %
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td class="text-right">{{ record.aantalActieveDagvergunningenZelfAanwezigNaControle }}</td>
                    <td class="text-right">{{ record.aantalActieveDagvergunningenNietZelfAanwezigNaControle }}</td>
                    <td class="text-right">
                        {% if record.aantalActieveDagvergunningen > 0 %}
                            {{ record.percentageAanwezigNaControle * 100 }} %
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td><a href="{{ path('app_koopman_detail', {'id': record.koopman.id, 'marktId': record.sollicitatie.markt.id, 'dagvergunningenStartDatum': dagStart|date('d-m-Y'), 'dagvergunningenEindDatum': dagEind|date('d-m-Y'), 'tab': 'dagvergunningen'}) }}">details</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}