{#
 *  Copyright (C) 2021 X Gemeente
 *                     X Amsterdam
 *                     X Onderzoek, Informatie en Statistiek
 *
 *  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/.
#}
{% extends "base.html.twig" %}

{% block title %}BTW Plannen{% endblock %}

{% block css %}
        {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block javascript %}
        {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block document %}
<div class="table-responsive">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a
                class="nav-link {% if planType == 'lineair' %} active {% endif %}"
                href="{{ path('app_btw_overview', {planType: 'lineair'}) }}"
            >
                Lineair
            </a>
        </li>
        <li class="nav-item">
            <a
                class="nav-link {% if planType == 'concreet' %} active {% endif %}"
                href="{{ path('app_btw_overview', {planType: 'concreet'}) }}"
            >
                Concreet
            </a>
        </li>
        <li class="nav-item ml-auto">
            <a
                class="nav-link btn btn-sm btn-success"
                href="{{ path('app_btw_plan_create', {planType: planType}) }}"
            >
                Nieuw BTW Plan
            </a>
        </li>
    </ul>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Tarief soort</th>
            <th>Type plan</th>
            <th>Vanaf datum</th>
            <th>BTW tarief</th>
            <th>Specifieke markt</th>
            <th>Aanpassen</th>
            <th>Archiveren</th>
        </tr>
        </thead>
        <tbody>
        {% for btwPlan in plans %}
            <tr {% if btwPlan.isActive == true %} style="font-weight: bold;"{% endif %}>
                <td>{{ btwPlan.id }}</td>
                <td>{{ btwPlan.tariefLabel }}
                <td>{{ btwPlan.tariefType }}
                <td>{{ btwPlan.dateFrom }}</td>
                <td>{{ btwPlan.btwType }}</td>
                <td>{{ btwPlan.marktName }}</td>
                <td>
                    <a href={{ path('app_btw_plan_update', {'planType': planType, 'btwPlanId': btwPlan.id }) }}>
                        <span class="bi bi-pencil-fill"></span>
                    </a>
                </td>
                 <td>
                    <a
                        href={{ path('app_btw_plan_archive', {'id': btwPlan.id })}}
                        onclick="return confirm('Weet je zeker dat je dit BTW plan wilt archiveren?')"
                    >
                        <span class="bi bi-trash"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}