{#
 *  Copyright (C) 2021 X Gemeente
 *                     X Amsterdam
 *                     X Onderzoek, Informatie en Statistiek
 *
 *  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/.
#}
{% extends "base.html.twig" %}

{% block title %}Tariefplannen{% endblock %}

{% block css %}
        {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block javascript %}
        {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block document %}
    <h1>Feature Flags</h1>

    <div>
        {# TODO later: interface kan iets mooier #}
        <a class="btn btn-sm btn-success" href="{{ path('app_feature_flags_create') }}">
            Feature flag toevoegen
        </a>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Feature</th>
                <th>Aan / Uit</th>
                <th>Acties</th>
            </tr>
        </thead>
        <tbody>
        {% for featureFlag in featureFlags %}
            <tr>
                <td>{{ featureFlag.feature }}</td>
                <td>{{ featureFlag.enabled ? 'AAN' : 'UIT' }}</td>
                <td>
                    <a href={{ path('app_feature_flag_update', {'id': featureFlag.id }) }}>
                        <span class="bi bi-pencil-fill"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}