{#
 *  Copyright (C) 2017 X Gemeente
 *                     X Amsterdam
 *                     X Onderzoek, Informatie en Statistiek
 *
 *  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/.
#}
{% extends "DashboardBundle:master:default.html.twig" %}

{% block title %}Tariefplannen - {{ parent() }}{% endblock %}

{% block document %}
    <div class="row">
        <div class="col-xs-12">

            <h1>Tariefplannen - {{ markt.naam }}</h1>

            <a class="btn btn-primary" href="{{ path('gemeenteamsterdam_makkelijkemarkt_dashboard_tariefplan_createlineair', {'marktId': markt.id}) }}">Lineairplan toevoegen</a>
            <a class="btn btn-primary" href="{{ path('gemeenteamsterdam_makkelijkemarkt_dashboard_tariefplan_createconcreet', {'marktId': markt.id}) }}">Concreetplan toevoegen</a>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>id</th>
                    <th>type</th>
                    <th>naam</th>
                    <th>vanaf</th>
                    <th>tot</th>
                    <th>Opties</th>
                </tr>
                </thead>
                <tbody>
                {% for tariefplan in tariefplannen %}
                    <tr>
                        <td>{{ tariefplan.id }}</td>
                        <td>{{ tariefplan.lineairplan is null ? 'Concreet' : 'Lineair' }}</td>
                        <td>{{ tariefplan.naam }}</td>
                        <td>{{ tariefplan.geldigVanaf|date('d-m-Y') }}</td>
                        <td>{{ tariefplan.geldigTot|date('d-m-Y') }}</td>
                        <td><a class="btn btn-primary" href="{{ tariefplan.lineairplan is null ? path('gemeenteamsterdam_makkelijkemarkt_dashboard_tariefplan_updateconcreet', {'tariefPlanId': tariefplan.id}) : path('gemeenteamsterdam_makkelijkemarkt_dashboard_tariefplan_updatelineair', {'tariefPlanId': tariefplan.id}) }}">Bewerken</a>
                            <a class="btn btn-danger" href="{{ path('gemeenteamsterdam_makkelijkemarkt_dashboard_tariefplan_delete', {'tariefPlanId': tariefplan.id}) }}" onclick="return confirm('Weet u het dat u tariefplan met id {{ tariefplan.id }} wilt verwijderen?')">Verwijderen</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}