{#
 *  Copyright (C) 2017 X Gemeente
 *                     X Amsterdam
 *                     X Onderzoek, Informatie en Statistiek
 *
 *  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/.
#}
{% extends "DashboardBundle:master:default.html.twig" %}

{% block title %}Capaciteitsrapport - {{ parent() }}{% endblock %}

{% block scripts %}
    <script src="{{ asset('bundles/dashboard/rome/rome.min.js') }}"></script>

    <script type="application/javascript">
        jQuery(document).ready(function () {
            rome(jQuery('[name="form[dagStart]"]').get(0), {time: false});
            rome(jQuery('[name="form[dagEind]"]').get(0), {time: false});

            jQuery('[name^="columns"]').change(function (event) {
                var show = jQuery(event.target).is(':checked');
                var col = jQuery(event.target).val();
                if (show) {
                    jQuery('.main-table .data-' + col).show();
                } else {
                	jQuery('.main-table .data-' + col).hide();
                }
            });
        });
    </script>
{% endblock %}

{% block css %}
    <link href="{{ asset('bundles/dashboard/rome/rome.min.css') }}" rel="stylesheet" media="screen">
{% endblock %}

{% block document %}
    <div class="row">
        <div class="col-xs-12">

            <h1>Capaciteitsrapport</h1>

            {{ form_start(form) }}
            <div class="row">
                <div class="form-group col-sm-5">
                    <label for="markt">Markt</label>
                    {{ form_widget(form.marktId) }}
                    <small>Selecteer meerdere markten door Ctrl ingedrukt te houden bij het selecteren</small>
                </div>
                <div class="form-group col-sm-2">
                    <label for="periodeVan">Start datum</label>
                    {{ form_widget(form.dagStart) }}
                </div>
                <div class="form-group col-sm-2">
                    <label for="periodeVan">Eind datum</label>
                    {{ form_widget(form.dagEind) }}
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Bekijken</button>
            {{ form_widget(form.excel, {'attr': {'class': 'btn-info btn'}}) }}
            {{ form_end(form) }}

        </div>
    </div>
    <p>&nbsp;</p>
    <div class="row">
        <div class="col-xs-12">
            <p>
                Toon details:
                <label><input type="checkbox" name="columns[vpl]" value="vpl" checked> VPL</label>
                <label><input type="checkbox" name="columns[vkk]" value="vkk" checked> VKK</label>
                <label><input type="checkbox" name="columns[soll]" value="soll" checked> SOLL</label>
                <label><input type="checkbox" name="columns[lot]" value="lot" checked> LOT</label>
            </p>
            <div class="table-responsive">
                <table class="table table-bordered main-table">
                    <thead>
                        <tr>
                            <th rowspan="2">Dag</th>
                            <th rowspan="2">Datum</th>
                            <th rowspan="2">Week</th>
                            <th rowspan="2">Maand</th>
                            <th rowspan="2">Jaar</th>
                            <th rowspan="2">Markt</th>
                            <th rowspan="2">Max.<br>kramen</th>
                            <th rowspan="2">Max.<br>meter</th>
                            <th class="data-vpl" colspan="2">VPL<br>Dagv.</th>
                            <th class="data-vpl" colspan="2">VPL<br>Kramen</th>
                            <th class="data-vpl" colspan="2">VPL<br>Meters</th>
                            <th class="data-vkk" colspan="2">VKK<br>Dagv.</th>
                            <th class="data-vkk" colspan="2">VKK<br>Kramen</th>
                            <th class="data-vkk" colspan="2">VKK<br>Meters</th>
                            <th class="data-soll" colspan="2">SOLL<br>Dagv.</th>
                            <th class="data-soll" colspan="2">SOLL<br>Kramen</th>
                            <th class="data-soll" colspan="2">SOLL<br>Meters</th>
                            <th class="data-lot" colspan="2">LOT<br>Dagv.</th>
                            <th class="data-lot" colspan="2">LOT<br>Kramen</th>
                            <th class="data-lot" colspan="2">LOT<br>Meters</th>
                            <th colspan="1">Totaal<br>Dagv.</th>
                            <th colspan="2">Totaal<br>Kramen</th>
                            <th colspan="2">Totaal<br>Meters</th>
                        </tr>
                        <tr>
                            <th class="data-vpl">#</th>
                            <th class="data-vpl">%</th>
                            <th class="data-vpl">#</th>
                            <th class="data-vpl">%</th>
                            <th class="data-vpl">#</th>
                            <th class="data-vpl">%</th>
                            <th class="data-vkk">#</th>
                            <th class="data-vkk">%</th>
                            <th class="data-vkk">#</th>
                            <th class="data-vkk">%</th>
                            <th class="data-vkk">#</th>
                            <th class="data-vkk">%</th>
                            <th class="data-soll">#</th>
                            <th class="data-soll">%</th>
                            <th class="data-soll">#</th>
                            <th class="data-soll">%</th>
                            <th class="data-soll">#</th>
                            <th class="data-soll">%</th>
                            <th class="data-lot">#</th>
                            <th class="data-lot">%</th>
                            <th class="data-lot">#</th>
                            <th class="data-lot">%</th>
                            <th class="data-lot">#</th>
                            <th class="data-lot">%</th>
                            <th>#</th>
                            <th>#</th>
                            <th>%</th>
                            <th>#</th>
                            <th>%</th>
                        </tr>
                    </thead>
                    <tbody>
{% for row in rapport %}
                        <tr>
                            <td>{{ row.dag }}</td>
                            <td>{{ row.datum }}</td>
                            <td>{{ row.week }}</td>
                            <td>{{ row.maand }}</td>
                            <td>{{ row.jaar }}</td>
                            <td>{{ row.marktNaam }}</td>
                            <td class="text-right">{{ row.capaciteitKramen }}</td>
                            <td class="text-right">{{ row.capaciteitMeter }}</td>
                            <td class="data-vpl text-right">{{ attribute(row, 'vplAantalDagvergunningen') }}</td>
                            <td class="data-vpl text-right">{{ (attribute(row, 'vplAantalDagvergunningen%') * 100)|round(1) }}</td>
                            <td class="data-vpl text-right">{{ attribute(row, 'vplAantalKramen') }}</td>
                            <td class="data-vpl text-right">{{ (attribute(row, 'vplAantalKramen%') * 100)|round(1) }}</td>
                            <td class="data-vpl text-right">{{ attribute(row, 'vplAantalMeter') }}</td>
                            <td class="data-vpl text-right">{{ (attribute(row, 'vplAantalMeter%') * 100)|round(1) }}</td>
                            <td class="data-vkk text-right">{{ attribute(row, 'vkkAantalDagvergunningen') }}</td>
                            <td class="data-vkk text-right">{{ (attribute(row, 'vkkAantalDagvergunningen%') * 100)|round(1) }}</td>
                            <td class="data-vkk text-right">{{ attribute(row, 'vkkAantalKramen') }}</td>
                            <td class="data-vkk text-right">{{ (attribute(row, 'vkkAantalKramen%') * 100)|round(1) }}</td>
                            <td class="data-vkk text-right">{{ attribute(row, 'vkkAantalMeter') }}</td>
                            <td class="data-vkk text-right">{{ (attribute(row, 'vkkAantalMeter%') * 100)|round(1) }}</td>
                            <td class="data-soll text-right">{{ attribute(row, 'sollAantalDagvergunningen') }}</td>
                            <td class="data-soll text-right">{{ (attribute(row, 'sollAantalDagvergunningen%') * 100)|round(1) }}</td>
                            <td class="data-soll text-right">{{ attribute(row, 'sollAantalKramen') }}</td>
                            <td class="data-soll text-right">{{ (attribute(row, 'sollAantalKramen%') * 100)|round(1) }}</td>
                            <td class="data-soll text-right">{{ attribute(row, 'sollAantalMeter') }}</td>
                            <td class="data-soll text-right">{{ (attribute(row, 'sollAantalMeter%') * 100)|round(1) }}</td>
                            <td class="data-lot text-right">{{ attribute(row, 'lotAantalDagvergunningen') }}</td>
                            <td class="data-lot text-right">{{ (attribute(row, 'lotAantalDagvergunningen%') * 100)|round(1) }}</td>
                            <td class="data-lot text-right">{{ attribute(row, 'lotAantalKramen') }}</td>
                            <td class="data-lot text-right">{{ (attribute(row, 'lotAantalKramen%') * 100)|round(1) }}</td>
                            <td class="data-lot text-right">{{ attribute(row, 'lotAantalMeter') }}</td>
                            <td class="data-lot text-right">{{ (attribute(row, 'lotAantalMeter%') * 100)|round(1) }}</td>
                            <td class="text-right">{{ attribute(row, 'aantalDagvergunningen') }}</td>
                            <td class="text-right">{{ attribute(row, 'totaalAantalKramen') }}</td>
                            <td class="text-right">{{ (attribute(row, 'totaalAantalKramen%') * 100)|round(1) }}</td>
                            <td class="text-right">{{ attribute(row, 'totaalAantalMeter') }}</td>
                            <td class="text-right">{{ (attribute(row, 'totaalAantalMeter%') * 100)|round(1) }}</td>
                        </tr>
{% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}