{#
 *  Copyright (C) 2017 X Gemeente
 *                     X Amsterdam
 *                     X Onderzoek, Informatie en Statistiek
 *
 *  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/.
#}
{% extends "DashboardBundle:master:default.html.twig" %}

{% block title %}Rapport: Dubbelstaan - {{ parent() }}{% endblock %}

{% block document %}
    <div class="row">
        <div class="col-xs-12">

            <h1>Rapport: Dubbel Staan</h1>

            <div class="btn-toolbar" role="toolbar" aria-label="...">
                <div class="btn-group" role="group" aria-label="...">
                    <a class="btn btn-default" href="{{ path('gemeenteamsterdam_makkelijkemarkt_dashboard_rapport_dubbelstaan', {'dag': gisteren|date('Y-m-d')}) }}">vorige</a>
                    <a class="btn btn-default" href="{{ path('gemeenteamsterdam_makkelijkemarkt_dashboard_rapport_dubbelstaan', {'dag': dag|date('Y-m-d')}) }}">{{ dag|date('d-m-Y') }}</a>
                    <a class="btn btn-default" href="{{ path('gemeenteamsterdam_makkelijkemarkt_dashboard_rapport_dubbelstaan', {'dag': morgen|date('Y-m-d')}) }}">volgende</a>
                </div>
                {% if (dag|date('Ymd') != vandaag|date('Ymd')) %}
                <div class="btn-group" role="group" aria-label="...">
                    <a class="btn btn-success" href="{{ path('gemeenteamsterdam_makkelijkemarkt_dashboard_rapport_dubbelstaan', {'dag': vandaag|date('Y-m-d')}) }}">naar vandaag</a>
                </div>
                {% endif %}
            </div>

            <h2>Rapport: Dubbel staan voor {{ dag|date('d-m-Y') }}</h2>
            {% if rapport.output|length > 0 %}
            <div class="alert alert-danger" role="alert"><strong>Helaas</strong> er zijn erkenningsnummers die op {{ dag|date('d-m-Y') }} meerdere dagvergunningen hebben gehad.</div>
            {% endif %}
            {% for record in rapport.output %}
                <h3>Erkenningsnummer {{ record.erkenningsnummer }} {% if record.koopman is not empty %} / {{ record.koopman.voorletters }} {{ record.koopman.achternaam }}{% endif %}</h3>
                <div class="alert alert-warning" role="alert"><strong>{{ record.dagvergunningen|length }}</strong> dagvergunningen gevonden voor {{ record.erkenningsnummer }} op {{ dag|date('d-m-Y') }}</div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Dagvergunning op markt</th>
                            <th>Registratie datum/tijd</th>
                            <th>Kramen</th>
                            <th>Extra</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for dagvergunning in record.dagvergunningen %}
                        <tr>
                            <td>{{ dagvergunning.markt.naam }}</td>
                            <td>{{ dagvergunning.registratieDatumtijd }}</td>
                            <td>
                                {% if dagvergunning.aantal3MeterKramen > 0 %}{{ dagvergunning.aantal3MeterKramen }} x 3 meter<br>{% endif %}
                                {% if dagvergunning.aantal4MeterKramen > 0 %}{{ dagvergunning.aantal4MeterKramen }} x 4 meter<br>{% endif %}
                                {% if dagvergunning.extraMeters > 0 %}{{ dagvergunning.extraMeters }} x extra meter<br>{% endif %}
                                totaal {{ dagvergunning.totaleLengte }} meter
                            </td>
                            <td>
                                {% if dagvergunning.aantalElektra > 0 %}Elektra: {{ dagvergunning.aantalElektra }}<br>{% endif %}
                                Krachtstroom: {{ dagvergunning.krachtstroom ? 'ja' : 'nee' }}<br>
                                Reiniging: {{ dagvergunning.reiniging ? 'ja' : 'nee' }}
                            </td>
                            <td>
                                Invoer via: {{ dagvergunning.erkenningsnummerInvoerMethode }}<br>
                                {% if dagvergunning.notitie is not empty %}
                                    <span class="glyphicon glyphicon-comment"></span> {{ dagvergunning.notitie }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-info" role="alert"><strong>High five!</strong> Geen enkel erkenningsnummer heeft meerdere dagvergunningen ontvangen op {{ dag|date('d-m-Y') }}</div>
            {% endfor %}

        </div>
    </div>
{% endblock %}