{#
 *  Copyright (C) 2017 X Gemeente
 *                     X Amsterdam
 *                     X Onderzoek, Informatie en Statistiek
 *
 *  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/.
#}
{% extends "DashboardBundle:master:default.html.twig" %}

{% block title %}Rapport: Facturen{% endblock %}

{% block scripts %}
    <script src="{{ asset('bundles/dashboard/pickadate/lib/compressed/picker.js') }}"></script>
    <script src="{{ asset('bundles/dashboard/pickadate/lib/compressed/picker.date.js') }}"></script>

    <script type="application/javascript">
        var startdatumPicker = $('#vanaf').pickadate({
            formatSubmit: 'yyyy-mm-dd'
        });
        var einddatumPicker = $('#tot').pickadate({
            formatSubmit: 'yyyy-mm-dd'
        });
    </script>
{% endblock %}

{% block css %}
    <link href="{{ asset('bundles/dashboard/pickadate/lib/compressed/themes/default.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('bundles/dashboard/pickadate/lib/compressed/themes/default.date.css') }}" rel="stylesheet" media="screen">
{% endblock %}

{% block document %}
<h1>Facturen</h1>

    <form class="row form">
        <div class="form-group col-sm-3">
            <label for="markt">Markt</label>
            <select id="markt" class="form-control" name="markt">
                <option value="0" {% if marktId is null or marktId == "0" %}selected="selected"{% endif %}> - Maak een keuze - </option>
                <option value="alle" {% if marktId == "alle" %}selected="selected"{% endif %}>Alle markten</option>
                {% for markt in markten.results %}
                    <option value="{{ markt.id }}" {% if marktId == markt.id %}selected="selected"{% endif %}>{{ markt.naam }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-sm-3">
            <label for="vanaf">Vanaf</label>
            <input id="vanaf" type="text" class="datepicker form-control" name="vanaf" value="{{ vanaf }}">
        </div>
        <div class="form-group col-sm-3">
            <label for="tot">Tot</label>
            <input id="tot" type="text" class="datepicker form-control" name="tot" value="{{ tot }}">
        </div>
        <br />
        <div class="form-group col-sm-3">
            <input type="submit" class="btn btn-primary" value="Rapportage">
        </div>
    </form>

    {% if report is not null %}
        {% if marktId == "alle" %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Markt</th>
                        <th>Sollicitanten</th>
                        <th>Totaal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for markt in report.markten %}
                        <tr>
                            <td>{{ markt.naam }}</td>
                            <td>{{ markt.soll }}</td>
                            <td>&euro;  {{ markt.totaal }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td>Totaal</td>
                        <td>{{ report.solltotaal }}</td>
                        <td>&euro; {{ report.totaal }}</td>
                    </tr>
                </tfoot>
            </table>
        {% endif %}
    {% endif %}
{% endblock %}