{#
 *  Copyright (C) 2017 X Gemeente
 *                     X Amsterdam
 *                     X Onderzoek, Informatie en Statistiek
 *
 *  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/.
#}
{% extends "DashboardBundle:master:default.html.twig" %}

{% block title %}Frequentie Dag - {{ parent() }}{% endblock %}

{% block document %}
    <h1>Frequentie dagmarkt - {{ markt.naam }}</h1>
    <h4><a href="{{ path('gemeenteamsterdam_makkelijkemarkt_dashboard_rapport_aanwezigheid_datum', {'marktId': markt.id, 'datum': lastQuarterDate|date('Y-m-d')}) }}" class="btn btn-info">&lt;</a> {{ startDate|date('d-m-Y') }} - {{ endDate|date('d-m-Y') }} {% if today > endDate %}<a href="{{ path('gemeenteamsterdam_makkelijkemarkt_dashboard_rapport_aanwezigheid_datum', {'marktId': markt.id, 'datum': nextQuarterDate|date('Y-m-d')}) }}" class="btn btn-info">&gt;</a>{% endif %}</h4>

    <h2>Totaaloverzicht verplichting niet gehaald</h2>
    <a target="_blank" class="btn btn-primary" href="{{ path('gemeenteamsterdam_makkelijkemarkt_dashboard_rapport_aanwezigheid_excel_datum', {'marktId': markt.id, 'datum': startDate|date('Y-m-d')}) }}">Excel</a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>erkenningsnummer</th>
            <th>achternaam</th>
            <th>voorletters</th>
        </tr>
        </thead>
        <tbody>
        {% for koopman in koopmannen %}
            <tr>
                <td>{{ koopman.erkenningsnummer }}</td>
                <td>{{ koopman.achternaam }}</td>
                <td>{{ koopman.voorletters }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Rapportage per koopman</h2>
    {% for koopman in koopmannen %}
        <h3>{{ koopman.erkenningsnummer }}. {{ koopman.achternaam }}, {{ koopman.voorletters }}</h3>
        <h4>Inschrijfdatum: {{ koopman.inschrijf_datum|date('d-m-Y') }}</h4>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Type</th>
                <th>Aanwezig</th>
            </tr>
            </thead>
            <tbody>
            {% for type, aanwezig in koopman.types %}
                <tr class="{% if koopman.inschrijf_datum_jaar_geleden %}danger{% else %}warning{% endif %}">
                    <td>{{ type }}</td>
                    <td>{{ aanwezig }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}